<?xml version="1.0" encoding="utf-8"?>
<Settings>

	<!-- Comment out a setting to use the application default -->

	<!-- The day that the season starts (typically the first Saturday in January) -->
	<Kickoff>2013-01-05</Kickoff>
		
	<!-- The day that the robot has to be finished (Midnight, the Wednesday after the last full week) -->
	<Ship>2013-02-20</Ship>
			
	<!-- The length of time (in seconds) between total time spent updates -->
	<TotalTimeUpdateInterval>300</TotalTimeUpdateInterval>
	
	<!-- The length of time (in seconds) before requiring someone to scan their name again -->
	<ScanInTimeoutWindow>10</ScanInTimeoutWindow>
	
	<!-- The length of time (in seconds) before the current scan will be cleared unless a '\r' is entered -->
	<ScanDataResetTime>3</ScanDataResetTime>
	
	<!-- The length of time (in seconds) before the scan status string will be cleared -->
	<ClearScanStatusTime>60</ClearScanStatusTime>
	
	<!-- Choose whether or not to show time remaining until ship -->
	<ShowTimeUntilShip>true</ShowTimeUntilShip>
	
	<!-- The subfolder under the program directory where backups will be stored -->
	<BackupFolder>Backup</BackupFolder>
	
	<!-- The maximum number of backup scan data files to keep -->
	<MaxBackupFilesToKeep>2147483647</MaxBackupFilesToKeep>
	
	<!-- Whether the summary CSV files will be created when the program closes -->
	<CreateSummaryOnExit>false</CreateSummaryOnExit>
	
</Settings>