<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChopshopSignin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChopshopSignin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ChopshopSignin.Properties.Settings>
            <setting name="SettingsFileName" serializeAs="String">
                <value>Settings.xml</value>
            </setting>
            <setting name="ScanDataFileName" serializeAs="String">
                <value>ScanData.xml</value>
            </setting>
            <setting name="WindowIconPath" serializeAs="String">
                <value>/timeclock-icon.ico</value>
            </setting>
            <setting name="SeasonLengthWeeks" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="BackupFolder" serializeAs="String">
                <value>Backup</value>
            </setting>
            <setting name="ArchiveFolder" serializeAs="String">
                <value />
            </setting>
        </ChopshopSignin.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ChopshopSignin.Properties.Settings>
            <setting name="TotalTimeUpdateInterval" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ScanInTimeoutWindow" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ScanDataResetTime" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ClearScanStatusTime" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ShowTimeUntilShip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreateSummaryOnExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxBackupFilesToKeep" serializeAs="String">
                <value>2147483647</value>
            </setting>
            <setting name="Kickoff" serializeAs="String">
                <value />
            </setting>
            <setting name="Ship" serializeAs="String">
                <value />
            </setting>
        </ChopshopSignin.Properties.Settings>
    </userSettings>
</configuration>